.app__component {
  max-width: 54em;
  margin: 0 auto;
  padding: 0 1em;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;

  .title {
    color: blueviolet;
  }

  .todd {
    color: papayawhip;
    width: 100%;
    margin: 0;

    &__container {
      width: calc(100% - 2em);
      height: 100%;
      margin: 1em;
      display: block;
    }
  }
}
